h1,h2
{
	padding-left: 1rem;
    background-image: linear-gradient(to bottom, white, white, limegreen); /* Gradient background */
    /*background-clip: text; /* Clip the background to the text */
    
    color: black; /* use TRANSPARENT to hide the text color */
	
    border-bottom: 1px solid green; /* Bottom line */
	border-radius: 0rem 0rem 1rem 1rem;
}

h1
{
	font-size: 2rem;
    width: 80%;
}

h2
{
	font-size: 1.5rem;
    width: 70%;
}

ul>li { margin-bottom: 1rem; }